/* Stylesheet */

#camera-button {
    position: absolute;
    bottom: 10px;
}

.lemon {
    float: right;
}

#lines {
    position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#waves {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}
